.new-transaction {
  font-weight: 600;
}

.nav.nav-tabs {
  margin-bottom: 10px;
}

.filter-link {
  color: #333; /* TODO: get link color from variable */
}

.filter-link:hover, .filter-link:focus {
  color: #333; /* TODO: get link color from variable */
  outline: none;
  text-decoration: none;
  border-bottom: 1px dashed #999;
}

#transactions_summary {
  position: fixed;
  bottom:   0;
  width:    100%;
}

#transactions_summary .panel {
  margin: 0;
}

#transactions_summary .table-condensed>thead>tr>th, #transactions_summary .table-condensed>tbody>tr>td {
  padding-bottom: 2px;
  padding-top:    2px;
}
